.header{
    text-align: center;
    font-size: 100%;
    justify-content: center; 
}
.nav{
    background-color: grey;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
    
}
.titulo{
    text-align: center;
    font-size: 130%;
}
.subTitle{
    margin-left: 5%;
    font-size: 200%;
    text-decoration: underline;
}
.container{
    width: 95%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5%;
}
.book{
    margin: 0 7% 0 7%;
    align-items: center;
    border: 3px solid black;
    text-align: center;
    
}
.img{
    width: 302px;
    height: 420px;
}
.footer{
    text-align: center;
    font-size: 100%;
    justify-content: center;
    text-decoration: none;
}